.ProductListItem
  display: flex
  padding: 35px 15px
  background-color: #F5F5F5
  transition: 0.3s ease
  &:hover
    background-color: #ebebeb
  .ProductInfo
    margin-left: 1rem
    align-self: center
    .ProductTitle
      line-height: 1
      font-size: 1.5rem
    .ProductDescription
      line-height: 1
      font-size: 1rem
      margin: 0
  .ProductImage
    display: flex
    align-items: center
    img
      width: 70px
      height: 70px
      border-radius: 100%
  .ProductRemoveButton
    align-self: center
    margin-left: auto
